@font-face {
    font-family: 'fuente-1';
    src: url('/Fonts/Fonts/arial.ttf') format('truetype');
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}


body{
    background-color:#272b33;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.navbar{
    
    height: 60px;
    background-color: #fff;
    display: flex;
    border-radius: 4px;
    padding: 0 24px;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
}

.nav-container{
    display: flex;
    
    -webkit-box-pack: justify;
    
 -webkit-box-align: center;
    align-items: center;
    
}
.nav-container2{
display: flex;
color: #616161;
align-items: center;
justify-content: space-between;
gap: 20px;
letter-spacing: .5px;
}

.nav-btn{
    background-color:rgb(251, 192, 45);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 16px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
  line-height: 1.75;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 16px;
    text-align: center;
    font-size: 40px;
    color: #fbc02d;
}
.logo{
    /* margin: 4px; */
    height: 100%;
   
}
